.hero {
    display:flex;
    flex-direction: column;
    height:100vh;
    flex:1 1 auto;
}
.hero-Nav {
    display:flex;
    flex:1 1 auto;
    align-items: center;
    justify-content: space-between;
    cursor:pointer; 
    height:20vh;
    position:relative;
  
  
    border:5px dashed green;
}
.row{
    display:flex;
    flex-direction: row;
}
.col{
    display:flex;
    flex-direction:column;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
h3 {
    font-size: 4rem;
    padding:0;
    margin:0;
}

.welcome {
   font-size: 1.5rem;
}
p {
    font-size: 1.2rem;
}
.name{
    font-weight: 900;
    line-height: 4rem;
}
h5{
    font-size: 1.5rem;
}
.nav-Left{
    display:flex;
    flex:1 1 auto;
    width:50%;
    align-items: flex-start;
}
.nav-Right { 
    width:50%;
    flex:1 1 auto;
    align-items: center;
    justify-content: space-between;
}
.hero-Main{  
    display:flex; 
    flex:1 1 auto;
    align-items: center;
    justify-content: space-between;
    border:1px solid blue; 
    height:90%;
    
}
.hero-Left {
    flex:1 1 auto;
    align-items: flex-start;
    width:50%; 
    height:fit-content;
    text-align: left;
    justify-content:flex-start;     
   
    border:2px solid green;
  
}
.pitch {
    margin:1em 0;
}
.hero-Right {
    display:flex;
    flex:1 1 auto;
    width:50%;
    height:100%;   
    
}
.hero-Img {
    display:flex;
    width:100%;    
    object-fit: cover; 
}
.media-Handles {
    margin:0;
}
.media-Handles>h4{
    text-align:center;
    line-height:3em;
    
}
.media-Logos{
   display:flex;
   flex:1 1 auto; 
}
.social {
    aspect-ratio: 1/1;
    width: 80px;
    display:flex;
    flex:1 1 auto;
    border:1px solid var(--border-color);
    background-color: var(--border-fill);
    align-items: center;
    justify-content: center;
    color:white;
}
.experience {
    display:flex;
    flex:1 1 auto;
    margin:1em 0;
 }
.experience-Section {
    border:1px solid black;
    color:white;
    background-color: var(--border-fill);
}

 